{% extends 'base.html.twig' %}

{% block title %}Add Admin{% endblock %}

{% block body %}
{% if not app.user %} 
       
    <a href="{{ path('security_login') }}"><button class="btn btn-success">Connexion</button></a>
        
{% else %}
    <div class="container centHeight">
    <div class="row centHeight justify-content-center align-items-center">
        <div class="col-12">
            <h1>Admin Shop</h1>
            <a href="{{ path('security_login') }}"><button class="btn btn-success">Connexion</button></a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}